/* === Ogólne === */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

/* === napis AleksDev === */

.mainPage:hover {
    cursor: pointer;
}

/* === główny nagłówek strony === */
header {
    display: fixed;
    background-color: black; 
    border-bottom: solid 2px #1e1e1ec7;
    padding-left: 60px; 
}

#header {
    display: flex;
}

header button {
    background-color: black; 
    color: white;
    border: none;
    font-size: 1.3rem;
    margin-right: 10px;
}



header button:hover {
    background-color: black; 
    color: white;
    border: none;
    cursor: pointer;
    border-bottom: solid 4px #2dd310;
    padding: 6px;
}

.headerLeftSide {
    width: 30%;
}

.headerCenter {
    width: 20%;
}

.headerRightSide {
    display: flex;
    width: 48%;
    justify-content: center;
    align-items: center;
}

/* === Nagłówki tekstowe - ogólne === */

h1, h2 {
    color: #39FF14;
}

.h1Center {
    text-align: center;
}

/* === Część główna strony === */

main {
    grid-area: main;
    border: solid 2px #1e1e1ec7;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
}


.textContainer {
    float: left;
    width: 40%;
    margin-right: 10px;
}

.imageContainer {
    float: right;
}

#menuGlowne h1 {
    font-size: 4rem;
    font-weight:bold;
    background: linear-gradient(to right, #2DD310 0%, #FFFFFF 100%);
    -webkit-background-clip: text;  
    background-clip: text;         
    -webkit-text-fill-color: transparent; 
}


#menuGlowne p{
    font-size: 1.6rem;
}

#menuGlowne h4{
    font-size: 1rem;
}

/* === Zawartość profilu === */ 

#profilZawartosc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#daneOsobiste{
    background-color: rgb(30, 30, 30);
    padding: 6px;
    margin: 6px;    
    border: solid 2px #39FF14;
}

#profilZawodowy {
    background-color: rgb(30, 30, 30);
    max-width: 600px;
    padding: 6px;
    margin: 6px;
    border: solid 2px #39FF14;
}

#doswiadczenie div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#doswiadczenie section {
    background-color: rgb(30, 30, 30);
    border: solid 2px #39FF14;
    max-width: 600px;
    padding: 10px;
}


#wyksztalcenie div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#wyksztalcenie section {
    background-color: rgb(30, 30, 30);
    border: solid 2px #39FF14;
    max-width: 600px;
    padding: 10px;
}


#umiejetnosci div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#umiejetnosci section {
    background-color: rgb(30, 30, 30);
    border: solid 2px #39FF14;
    max-width: 600px;
    padding: 10px;
}

#umiejetnosci h1, h2 {
    color: #39FF14;
}

#umiejetnosci h4 {
    margin-left: 20px;
}

/* === Hyperlinki === */

a{
    color: blue;
}

/* === Ukryta Klasa - do chowania elementów === */

.hidden {
    display: none;
}