body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-rows: 80px 550px 80px ;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer'
    ;
}

header {
    display: flex;
    grid-area: header;
    background-color: rgb(19, 19, 19); 
    border-bottom: solid 4px #1e1e1ec7; 
}

header button {
    background-color: black;
    color: white;
    border: none;
}

header button:hover {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.headerLeftSide {
    width: 30%;
}

.headerCenter {
    width: 26%;
}

.headerRightSide {
    width: 40%;
    justify-content: right;
    align-items: right;
}

h1, h2 {
    color: #39FF14;
}

main {
    grid-area: main;
    border: solid 2px #1e1e1ec7;
}

footer {
    grid-area: footer;
    border: solid 2px #1e1e1ec7;
    text-align: center;
}