body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

section {
    background-color:rgb(30, 30, 30);
    border: solid 2px #39FF14;
    padding: 10px;
    max-width: 600px;
}

#kontaktH1 {
    text-align: center;
    color: #39FF14;
}

h1, h2 {
    color: #39FF14;
    text-align: center;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

button {
    background-color: #39FF14;
    color: black;
    border: solid 2px #39FF14;
    font-size: 1.2rem;
}

button:hover {
    background-color: black;
    color: #39FF14;
    border: solid 2px #39FF14;
    font-size: 1.2rem;
    cursor: pointer;
}